@using u21517208_HW03.Models

@model List<FileModel>

@{
    ViewBag.Title = "Images";
}

<h2>Images</h2>



    @foreach (FileModel file in Model)
    {
        <div class="col-lg-4 col-md-4 col-sm-4 ">
            <div class="row">
                <a href="~/Media/Images/@file.FileName" data-fancybox="gallery" data-caption="@file.FileName">
                    <img src="~/Media/Images/@file.FileName" style="width:250px" />
                </a>
                <h5>
                    <!--shows the file name under picture-->
                    <p>@file.FileName</p>
                </h5>
                <div>
                    <button class="btn btn-success">
                        @Html.ActionLink("Download", "Download", new { FileName = file.FileName })
                    </button>
                    <button class="btn btn-danger">
                        @Html.ActionLink("Delete", "Delete", new { FileName = file.FileName })
                    </button>
                </div>
            </div>
        </div>
    }


<script>
 $(document).ready(function ($) {
 $(".gallery a").fancybox();
 });
</script>