
@{
    ViewBag.Title = "About";
}

<h2>About Me</h2>

<div class="row" style="background-color:bisque">
    <div class="col-md-8">
        <div class="card h-100" style="width:20rem;">
        </div>
        <div class="card-body">
            <h3 class="card-title">Bio</h3>
            <p class="card-text">"My Name is Remofilwe Mamabolo and I am 20 years old, I am the last born and only daughter in my family. I am a sports enthusiast, I love being active going to the gym and playing basketball with my friends. I play basketball for the tuks 2nd team "</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100" style="width:20rem;">
        </div>
        <div class="card-body">
            <h3 class="card-title">Remofilwe Mamabolo</h3>
            <p class="card-text">
                <a href="~/Media/Images/" alt="Picture of Remofilwe Mamabolo">
                    <img src="~/Media/Images/Remo.png" class="img-rounded" style="width:250px" />
                </a>
            </p>
        </div>
    </div>
</div>